language: php

php:
  - 5.3.3
  - 5.3
  - 5.4
  - 5.5

before_install:
  - phpenv rehash
  - echo '' > ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini
  - sh -c 'if [ $(php -r "echo PHP_MINOR_VERSION;") -le 4 ]; then echo "extension = apc.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini; fi;'
  - COMPOSER_ROOT_VERSION=dev-master composer --prefer-source --dev install

script: phpunit
